<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="centralized-logging">
        <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${ELK_IP}</destination>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <version/>
                    <logLevel/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                            "host": "${HOSTNAME}",
                            "timestamp": "%date{ISO8601}",
                            "service_name": "${APPLICATION_NAME}"
                            }
                        </pattern>
                    </pattern>

                    <threadName/>
                    <message/>

                    <logstashMarkers/>
                    <arguments/>

                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
    </springProfile>
    <root>
        <appender-ref ref="CONSOLE"/>
        <springProfile name="centralized-logging">
            <appender-ref ref="STASH"/>
        </springProfile>
    </root>

</configuration>